@import "../utils/variables";
.footer {
  background-color: $white;
  color: $warm-brown;
  height: $footer-height;
  display: flex;
  align-items: center;
  font-family: $font-family;
  box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.05);
  .footer__container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  &__text {
    font-size: 0.9rem;
  }
  &__nav {
    &__list {
      list-style: none;
      display: flex;
      gap: 15px;
      margin: 0;
      padding: 0;
      &__item a {
        text-decoration: none;
        color:$warm-brown;
        font-weight: 800;
        transition: color 0.3s;
        &:hover {
          color: $warm-brown-hover;
        }
      }
    }
  }

  @media (max-width: $breakpoint-mobile) {
    .footer__container {
      flex-direction: column;
      gap: 10px;
      text-align: center;
    }
  }
}
