// Kolory bazowe
$white: #FFFFFF;
$black: #000000;
$grean:#C7D3B2;
$grean-dark:#8F9777;
$shadow-color: rgba(0, 0, 0, 0.08);
$muted: #6b7280; 
$warm-brown: #9F7A45;
$warm-brown-hover: #C89E6F;
$navy: #111827;


// Rozmiary
$header-height: 12vh;
$footer-height: 12vh;

// Responsywność
$breakpoint-mobile: 768px;
$breakpoint-tablet: 1024px;

// Typografia
$font-family: "Roboto", sans-serif;
$font-size-base: 1rem;
$font-size-heading: 2.5rem;
$font-size-subheading: 1.25rem;

$transition-fast: 0.3s ease;
$transition-slow: 0.8s ease-in-out;

// Font
$font-ui: "Inter", "Segoe UI", Roboto, system-ui;

// Spacing (przykładowe)
$sp-1: 8px;
$sp-2: 12px;
$sp-3: 16px;
