// Kolory
$white:white;
$beige: #B89B7D;
$black:black;
$gray:#8C8C8C;
$white-beige: #F5F2ED;
$beige-lite: #E0D8C3;
$brand-green:#2f3e2f;  

// Rozmiary
$header-height: 12vh;
$footer-height: 12vh;

// Responsywność
$breakpoint-mobile: 768px;

$font-family: "Radley", serif;
$primary-color: #2f3e2f;
$secondary-color: #486b45;
    // nieco ciemniejszy, intensywniejszy akcent
$brand-green-dark: #1E4F28; // mocniejszy akcent dla tytułów
$light-gray: #e0e0e0;
$white: #ffffff;
$footer-bg-color: #3e463e; 
$footer-text-color: #cfcfcf; 
$text-color: #555;
$bg-soft: #e2fcdd;          // delikatne tło sekcji
$card-bg: #FFFFFF;          // tło kart
$muted-green: #EAF6EA;      // subtelne tło przy obrazach