@import "../utils/variables";
@import "../utils/mixins";

// Header Stylowanie
.header {
  background-color: $white; // Używamy nowej zmiennej
  padding: 1rem 0;
  border-bottom: 1px solid $light-gray; // Używamy nowej zmiennej
  position: fixed;
  width: 100%;
  z-index: 3;
  top: 0; // Header przy samej górze ekranu

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;

    @include breakpoint(sm) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__logo {
    display: flex;
    align-items: center;

    img {
      width: 50px;
      height: auto;
      margin-right: 10px;
    }

    .header__title {
      h1 {
        font-size: $font-size-medium;
        font-weight: bold;
        margin: 0;
        color: $primary-color;
      }
      p {
        font-size: $font-size-small;
        color: $text-color;
        margin: 0;
      }
    }
  }

  &__nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;

    .header__menu {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin: 0 1rem;

        a {
          text-decoration: none;
          color: $primary-color;
          font-weight: bold;
          transition: color 0.3s;

          &:hover,
          &.active {
            color: $secondary-color;
          }
        }
      }

      @include breakpoint(sm) {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: $white; // Używamy zmiennej $white
        position: absolute;
        top: 60px;
        left: 0;
        padding: 10px 0;

        &.active {
          display: flex;
        }

        li {
          margin: 0.5rem 0;
        }
      }
    }

    .hamburger {
      .menuIcon {
        display: block;
      }
    
      .closeIcon {
        display: none;
      }
    
      &.active {
        .menuIcon {
          display: none;
        }
        .closeIcon {
          display: block;
        }
      }
    }
    
    .header__menu {
      display: none; // Ukryj menu domyślnie
    
      &.active {
        display: flex; // Pokaż menu, gdy jest aktywne
        flex-direction: column;
      }
    }

    @include breakpoint(sm) {
      .hamburger {
        display: block;
      }
    }
  }
}
