.title_galery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; // Wyśrodkowanie poziome
    text-align: center; // Wyśrodkowanie tekstu
    color: $primary-color;
    margin-bottom: 2rem;

    h1 {
        font-size: 2.5rem;
        margin-bottom: 1rem;
        font-weight: bold;

        @include breakpoint("medium") {
            font-size: 2rem;
        }
    }

    p {
        font-size: 1rem;
        color: $secondary-color;
        margin-bottom: 2rem;

        @include breakpoint("small") {
            font-size: 0.9rem;
        }
    }
}

.gallery {
    column-count: 4; // ilość kolumn na desktop
    column-gap: 15px;

    @include breakpoint("lg") {
        column-count: 3;
    }

    @include breakpoint("medium") {
        column-count: 2;
    }

    @include breakpoint("small") {
        column-count: 1;
    }

    .gallery-item {
        break-inside: avoid; // żeby nie łamało obrazków
        margin-bottom: 15px;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 4px 6px rgba(0,0,0,0.1);
        position: relative;

        img {
            width: 100%;
            display: block;
            transition: transform 0.3s ease;
        }

        .caption {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.6);
            color: $white;
            padding: 10px 0;
            font-size: 1rem;
            text-transform: uppercase;
            @include flex-center;
        }

        &:hover img {
            transform: scale(1.05);
        }
    }
    
}
