@import "./utils/reset";
@import "./components/header";
@import "./components/home";
@import "./components/about";
@import "./components/contact";
@import "./components/projects";
@import "./components/ofert";
@import "./components/footer";